.protyle-wysiwyg [data-node-id].li > [data-node-id]:before {
  content: "";
  position: absolute;
  /* border-left: 0.1em solid #ededed; */
  border-left: 0.1em solid var(--b3-theme-background-light);
  top: 4px;
  left: -18px;
  z-index: 3;
}

/* ---------------------给有颜色背景的块设置前面无序列表的样式---------------- */
.list[style*="background-color: var(--b3-font-background"] .li > :before {
  border-color: #00000033 !important;
}

/* ————————————————————缩短嵌入块中小竖线的高度———————————————————— */
.render-node div.list:before {
  top: -10px !important;
}

/* ----------------------------------无序列表和有序列表前面的符号--------------------------------------- */
/* -------------------------列表悬浮------------------------ */
/* 大圆背景 */
.protyle-wysiwyg [data-node-id].li > .protyle-action:hover:after {
  border-radius: var(--b3-border-radius-half-round);
}

/* 小圆点颜色 */
.protyle-wysiwyg [data-node-id].li > .protyle-action:hover {
  color: var(--b3-theme-primary) !important;
}

/* 小圆点样式*/
.protyle-wysiwyg [data-node-id].li > .protyle-action {
  height: 30px;
}

/* -------------------------列表悬浮 END------------------------ */

/* -------------------------列表折叠------------------------ */
/* 大圆背景 */
.protyle-wysiwyg [data-node-id].li[fold="1"] > .protyle-action:after {
  border-radius: var(--b3-border-radius-half-round);
}

/* 小圆点颜色 */
.protyle-wysiwyg [data-node-id].li[fold="1"] > .protyle-action {
  color: var(--b3-theme-primary) !important;
}

/* 修改集市里边无序列表前小圆点颜色 */
::marker {
  color: var(--b3-font-color-gray);
}

/* 调整集市里边文字行高，大一点看着好看 */
.item__readme.b3-typography {
  line-height: 2;
  padding: 5px;
  text-align: left;
}

/* ——————————————————————去除无序列表底部外边距———————————————————— */
.protyle-wysiwyg [data-node-id].li > [data-node-id] {
  margin-bottom: 0px;
}

/* ————————————————————减小前面符号·的大小———————————————————— */
.list[data-node-id][data-type="NodeList"] .protyle-action > svg {
  width: 11px;
}

/* 折叠列表后面加个省略号 */
.protyle-wysiwyg
  [data-node-id].li[fold="1"]
  > .h1
  > [spellcheck]:not(.fn__flex-1.history__text.protyle
    [data-node-id].li[fold="1"]
    > .h1
    > [spellcheck])::after,
.protyle-wysiwyg
  [data-node-id].li[fold="1"]
  > .h2
  > [spellcheck]:not(.fn__flex-1.history__text.protyle
    [data-node-id].li[fold="1"]
    > .h2
    > [spellcheck])::after,
.protyle-wysiwyg
  [data-node-id].li[fold="1"]
  > .h3
  > [spellcheck]:not(.fn__flex-1.history__text.protyle
    [data-node-id].li[fold="1"]
    > .h3
    > [spellcheck])::after,
.protyle-wysiwyg
  [data-node-id].li[fold="1"]
  > .h4
  > [spellcheck]:not(.fn__flex-1.history__text.protyle
    [data-node-id].li[fold="1"]
    > .h4
    > [spellcheck])::after,
.protyle-wysiwyg
  [data-node-id].li[fold="1"]
  > .h5
  > [spellcheck]:not(.fn__flex-1.history__text.protyle
    [data-node-id].li[fold="1"]
    > .h5
    > [spellcheck])::after,
.protyle-wysiwyg
  [data-node-id].li[fold="1"]
  > .h6
  > [spellcheck]:not(.fn__flex-1.history__text.protyle
    [data-node-id].li[fold="1"]
    > .h6
    > [spellcheck])::after,
.protyle-wysiwyg
  [data-node-id].li[fold="1"]
  > .p
  > [spellcheck]:not(.fn__flex-1.history__text.protyle
    [data-node-id].li[fold="1"]
    > .p
    > [spellcheck])::after {
  content: " ••• ";
  display: inline;
  vertical-align: 15%;
  font-size: 10px;
  color: var(--b3-dock-item-active-color);
  margin-left: 9px;
  border-radius: 4px;
  background-color: var(--b3-theme-surface-lighter);
  box-shadow: 0px 0px 3px 1px var(--b3-theme-surface-lighter);
  padding: 1px 0px 3px 0px;
  opacity: 1;
  position: unset;
  float: unset;
}

/* -------------------------列表折叠 END------------------------ */

/* ----------------------------------列表 END--------------------------------------- */

/* ---------------------—---------------------复选框（待办事项）------------------------------------------------ */
/* ————————————————————————————给默认的待办事项前的图标和悬浮背景颜色设置为无—————————————————————————————— */
.protyle-wysiwyg [data-node-id].li > .protyle-action--task svg {
  opacity: 0;
}

.protyle-wysiwyg [data-node-id].li > .protyle-action--task:hover:after {
  background-color: transparent !important;
  opacity: 0 !important;
}

/* ————————————————————————————未完成事项的背景颜色———————————————————————————————————————— */
.protyle-wysiwyg .protyle-action--task,
.b3-typography .protyle-task {
  content: url(../../src/dui.svg);
  width: 1.2em;
  height: 1.2em;
  top: 0.4em !important;
}

/* 折叠待办事项前面的图标 */
div[fold="1"] .protyle-action.protyle-action--task {
  content: url(../../src/dui-fold.svg);
  width: 1.2em;
  height: 1.2em;
  top: 0.4em !important;
}

/* ————————————————————————————————————————复选框选中———————————————————————————————— */
.protyle-task--done > .protyle-action--task,
.b3-typography .protyle-task--done {
  content: url(../../src/dui-c.svg);
}

/* 折叠待办事项完成时的图标 */
.protyle-task--done[fold="1"] > .protyle-action--task,
.b3-typography[fold="1"] .protyle-task--done {
  content: url(../../src/dui-2.svg) !important;
  /* width: 1.2em;
    height: 1.2em;
    top: 0.4em !important; */
}

/* —————————————————————完成的待办事项删除线样式和颜色（包括字体样式）——————————————————————— */
.li.protyle-task--done .p {
  text-decoration: line-through;
  color: var(--b3-theme-primary);
}

/* 设置待办事项中的更多样式 */
.li.protyle-task--done .p strong {
  color: var(--b3-theme-primary) !important;
  background-color: transparent !important;
}

/* 无序列表转表格中的待办事项符号位置调整 */
.list[custom-f="bg"] > div.protyle-action.protyle-action--task {
  position: relative;
  top: 1em !important;
}

.list[data-node-id][data-type="NodeList"][custom-f="bg"] .protyle-action {
  top: 50% !important;
}

/* ---------------------—---------------------复选框（待办事项）END------------------------------------------------ */

/* ----列表中的标题编号---- */
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ [data-type="NodeHeading"]::before {
  border-left: none;
  position: absolute;
  top: -18px !important;
  left: 1px;
  pointer-events: none;
}

.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h1::before {
  content: ".";
  color: var(--b3-font-color1);
}
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h2::before {
  content: "..";
  color: var(--b3-font-color2);
}
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h3::before {
  content: "...";
  color: var(--b3-font-color3);
}
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h4::before {
  content: "....";
  color: var(--b3-font-color4);
}
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h5::before {
  content: ".....";
  color: var(--b3-font-color5);
}
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h6::before {
  content: "......";
  color: var(--b3-font-color6);
}
/* ----列表中标题编号 END---- */
