:root {
  /* 字体 */
  --b3-font-family: "D-DIN", NotoSans, "TsangerJinKai03", "PingFang SC", "HarmonyOS Sans SC",
    "Microsoft YaHei", "Noto Sans", "Noto Sans CJK SC", "Microsoft YaHei UI", "WenQuanYi Micro Hei",
    sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --b3-font-family-code: "Fira Code", Roboto Mono, SFMono-Regular, Menlo, Monaco, Consolas,
    "HarmonyOS Sans SC", "PingFang SC", "Microsoft YaHei", "Liberation Mono", "Courier New",
    monospace;
  --b3-font-family-emoji: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji",
    "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";
  --b3-font-family-graph: mononoki;
  --b3-font-family-math: KaTeX_Math;
}
